@import '/src/css/app.variables.scss';

.loader {
  position: fixed;
  background: var(--c-background);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  transition: top 1s;

  &--hidden {
    top: -100vh;
  }

  &__babble {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;

    &--blue {
      background: linear-gradient(180deg, rgba(68, 133, 255, 0.8) 0%, #377DFF 100%);
      box-shadow: 0 0.2rem 1.35rem rgba(0, 0, 0, 0.05);
    }
    &--red {
      background: linear-gradient(180deg, #FF8E8E 0%, #F62424 100%);
      box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.05);
    }

    &:nth-child(even) {
      left: 5.9rem;
      top: 18.8rem;
    }

    &:nth-child(odd) {
      left: -0.8rem;
      bottom: 14.2rem;
    }

    &:first-child {
      right: 6.4rem;
      top: 8.8rem;
      left: auto;
      bottom: auto;
    }

    &:last-child {
      right: 4.2rem;
      bottom: 6.7rem;
      top: auto;
      left: auto;
    }
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.2rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: 0.01em;
    color: var(--c-font);

    & > span {
      font-weight: 700;
      font-size: 4rem;
      line-height: 4.8rem;
    }
  }

  &__logo {
    height: 10.1rem;
  }

  &__subtitle {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.9rem;
    letter-spacing: 0.01em;
    color: $tContent;
    padding-top: 2.3rem;
  }
}


