@import '/src/css/app.variables.scss';

.social-block {
  &__wrapper {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    padding: 0 0 2rem;
  }

  @media screen and ($mediaTablet) {
    &__wrapper {
      gap: 4rem;
      padding: 0 0 1.7rem;
    }
  }
}
