@import 'src/css/app.variables.scss';
@import 'src/css/mixins.scss';

.start {
  font-family: 'Nunito';
  font-style: normal;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }

  &__header {
    margin: 0;
    text-align: center;
  }

  &__content {
    font-weight: 400;
    @include calc-value-min("font-size", 1.4, 2.0, 390, 1280);
    @include calc-value-min("line-height", 2.4, 3.0, 390, 1280);
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--c-content);
    opacity: 0.6;
    padding: 2rem 0;
    font-family: 'Nunito';
  }

  &__babble {
    position: absolute;
    @include calc-value-min("width", 1.6, 3.1, 390, 1440);
    @include calc-value-min("height", 1.6, 3.1, 390, 1440);
    border-radius: 50%;
    z-index: 10;

    &--blue {
      background: linear-gradient(180deg, rgba(68, 133, 255, 0.8) 0%, #377DFF 100%);
      box-shadow: 0 0.2rem 1.35rem rgba(0, 0, 0, 0.05);
    }
    &--red {
      background: linear-gradient(180deg, #FF8E8E 0%, #F62424 100%);
      box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.05);
    }
  }

  @media screen and ($mediaTablet) {
    &__wrapper {
      padding: 0;
    }

    &__header {
      max-width: 100rem;
    }

    &__content {
      padding: 2.4rem 0 3.2rem;
      max-width: 78rem;
      & span {
        display: block;
      }
    }
  }
}

.start-image {
  padding: 6.2rem 0.5rem;
  position: relative;

  & img {
    position: relative;
    z-index: 20;
    width: 33rem;
  }

  &__done {
    position: absolute;
    z-index: 30;
    top: 4.6rem;
    left: -0.4rem;
    padding: 0.9rem 1.7rem 0.9rem 1.4rem;
    background: var(--c-background);
    box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.15);
    border-radius: 0.6rem;

    & ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      color: var(--c-font);
      font-style: normal;
      letter-spacing: 0.01em;
      text-align: center;

      & li {
        font-family: 'Quicksand';
        font-weight: 700;
        @include calc-value-min("font-size", 0.6, 1.2, 390, 1440);
        line-height: 130%;
        text-transform: uppercase;
        align-items: center;
        padding-bottom: 0.2rem;
        opacity: 0.5;
      }

      & li:last-child {
        font-family: 'Nunito';
        @include calc-value-min("font-size", 1.2, 2.4, 390, 1440);
        text-transform: none;
        padding-bottom: 0;
        opacity: 1;

        & span {
          font-weight: 500;
        }
      }
    }
  }

  &__star {
    color: #F8BD38;
    @include calc-value-min("font-size", 1.3, 2.0, 390, 1440);
    padding-bottom: 0.4rem;
    opacity: 1;
  }

  &__dots {
    position: absolute;
    z-index: 10;

    &--red {
      top: 5rem;
      right: -1rem;
    }

    &--blue {
      bottom: 5.5rem;
      left: -0.5rem;
    }
  }

  @media screen and ($mediaTablet) {
    padding: 10rem 0;

    & img {
      width: 56.5rem;
      max-width: 56.5rem;
    }

    &__done {
      border-radius: 1.6rem;
      padding: 1.6rem 2.1rem;
      top: 12.4rem;
      left: -9.8rem;

      & ul {
        & li {
          padding-bottom: 1rem;
          text-align: start;
        }
      }
    }

    &__dots {
      &--red {
        top: 42.4rem;
        left: 14rem;
      }

      &--blue {
        top: 8.6rem;
        left: 14rem;
      }
    }
  }

  @media screen and ($mediaSmallDesktop) {
    & img {
      width: 73.9rem;
      max-width: 73.9rem;
    }

    &__dots {
      &--red {
        top: 54.4rem;
        left: 14rem;
      }
    }
  }
}

.start-review {
  position: absolute;
  z-index: 30;
  bottom: 5rem;
  @include calc-value-max("right", -0.6, -10.6, 390, 1440);
  padding: 1.3rem 1rem 1rem;
  background: var(--c-background);
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
  @include calc-value-min("width", 8, 16.6, 390, 1440);
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  @include calc-value-min("font-size", 0.5, 1, 390, 1440);
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--c-font);

  & img {
    @include calc-value-min("width", 1.6, 3.2, 390, 1440);
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0.6rem;
    gap: 0.6rem;
  }

  &__title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    @include calc-value-min("font-size", 0.5, 1, 390, 1440);
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--c-font);
  }

  &__subtitle {
    @include calc-value-min("font-size", 0.3, 0.6, 390, 1440);
    opacity: 0.5;
  }

  @media screen and ($mediaTablet) {
    padding: 2.4rem 2rem;
    border-radius: 1.6rem;
    bottom: 9.9rem;

    &__header {
      gap: 1rem;
      padding-bottom: 1.2rem;
    }
  }
}
