@import 'src/css/app.variables.scss';
.start {
  font-family: 'Nunito';
  font-style: normal;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }

  &__header {
    margin: 0;
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: 0.01em;
    color: var(--c-font);
    text-align: center;
  }

  &__content {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--c-content);
    opacity: 0.6;
    padding: 2rem 0;
  }

  @media screen and ($mediaDesktop) {
    &__wrapper {
      padding: 0;
    }

    &__header {
      font-size: 6.4rem;
      line-height: 8.7rem;
      max-width: 100rem;
    }

    &__content {
      font-size: 2rem;
      line-height: 150%;
      padding: 2.4rem 0 3.2rem;
      max-width: 78rem;
      & span {
        display: block;
      }
    }
  }
}

.start-image {
  padding: 6.2rem 0.5rem;
  position: relative;

  & img {
    position: relative;
    z-index: 20;
    width: 33rem;
  }

  &__done {
    position: absolute;
    z-index: 30;
    top: 4.6rem;
    left: -0.4rem;
    padding: 0.9rem 1.7rem 0.9rem 1.4rem;
    background: var(--c-background);
    box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.15);
    border-radius: 0.6rem;

    & ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      color: var(--c-font);
      font-style: normal;
      letter-spacing: 0.01em;
      text-align: center;

      & li {
        font-family: 'Quicksand';
        font-weight: 700;
        font-size: 0.6rem;
        line-height: 0.8rem;
        text-transform: uppercase;
        align-items: center;
        padding-bottom: 0.2rem;
        opacity: 0.5;
      }

      & li:last-child {
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-transform: none;
        padding-bottom: 0;
        opacity: 1;

        & span {
          font-weight: 500;
        }
      }
    }
  }

  &__star {
    color: #F8BD38;
    font-size: 1.3rem;
    padding-bottom: 0.4rem;
    opacity: 1;
  }

  &__dots {
    position: absolute;
    z-index: 10;

    &--red {
      top: 5rem;
      right: -1rem;
    }

    &--blue {
      bottom: 5.5rem;
      left: -0.5rem;
    }
  }

  @media screen and ($mediaDesktop) {
    padding: 10rem 0;

    & img {
      width: 73.9rem;
    }

    &__done {
      border-radius: 1.6rem;
      padding: 1.6rem 2.1rem;
      top: 12.4rem;
      left: -9.8rem;

      & ul {
        & li {
          font-size: 1.2rem;
          line-height: 1.5rem;
          padding-bottom: 1rem;
          text-align: start;
        }

        & li:last-child {
          font-size: 2.4rem;
          line-height: 3.3rem;
        }
      }
    }

    &__star {
      font-size: 2rem;
    }

    &__dots {
      &--red {
        top: 54.4rem;
        left: 14rem;
      }

      &--blue {
        top: 8.6rem;
        left: 14rem;
      }
    }
  }
}

.start-review {
  position: absolute;
  z-index: 30;
  bottom: 5rem;
  right: -0.6rem;
  padding: 1.3rem 1rem 1rem;
  background: var(--c-background);
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
  width: 8rem;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 0.7rem;
  letter-spacing: 0.01em;
  color: var(--c-font);

  &__header {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0.6rem;
    gap: 0.6rem;
  }

  &__title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 0.5rem;
    line-height: 0.6rem;
    letter-spacing: 0.01em;
    color: var(--c-font);
  }

  &__subtitle {
    font-size: 0.3rem;
    line-height: 0.4rem;
    opacity: 0.5;
  }

  @media screen and ($mediaDesktop) {
    font-size: 1rem;
    line-height: 1.4rem;
    width: 16.6rem;
    padding: 2.4rem 2rem;
    border-radius: 1.6rem;
    bottom: 9.9rem;
    right: -10.6rem;

    & img {
      width: 3.2rem;
    }

    &__header {
      gap: 1rem;
      padding-bottom: 1.2rem;
    }

    &__title {
      font-size: 1rem;
      line-height: 1.2rem;
    }

    &__subtitle {
      font-size: 0.6rem;
      line-height: 0.8rem;
    }
  }
}
