@import 'src/css/app.variables.scss';
.social {
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
  background-color: var(--c-logo);

  &__icon {
    color: $cFooter;

    @media (hover: hover) {
      &:hover {
        color: $cLightBlue;
      }
    }
  }
}
