@import 'src/css/app.variables.scss';
.testimonial {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
  }

  &__title {
    margin: 0;
    text-align: center;
    padding-bottom: 3.5rem;
  }

  &__subtitle {
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
  }

  &__feedbacks {
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.05);
  }

  @media screen and ($mediaTablet) {
    &__wrapper {
      padding: 10rem 0;
    }

    &__title {
      padding-bottom: 5rem;
    }

    &__subtitle {
      padding-bottom: 2rem;
    }
  }
}

