@import 'src/css/app.variables.scss';
.testimonial {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand';
    font-style: normal;
    color: #464646;
    padding: 50px 0;
  }

  &__title {
    margin: 0;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.003em;
    color: var(--c-font);
    text-align: center;
    padding-bottom: 35px;
  }

  &__subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: var(--c-blue);
    text-align: center;
    padding-bottom: 10px;
  }

  &__feedbacks {
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  }

  @media screen and ($mediaDesktop) {
    &__wrapper {
      padding: 100px 0;
    }

    &__title {
      font-size: 55px;
      line-height: 75px;
      padding-bottom: 50px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 24px;
      padding-bottom: 20px;
    }
  }
}

.feedback {
  background: var(--c-card-background);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  color: $fActiveColor;
  letter-spacing: 0.01em;
  width: 80%;
  height: 80%;

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }

  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #464646;
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--c-blue);
    opacity: 1;
  }

  &__role {
    font-size: 11px;
    line-height: 14px;
    opacity: 0.5;
    color: var(--c-font);
  }

  &__content {
    font-size: 14px;
    line-height: 24px;
    opacity: 0.8;
    color: var(--c-font);
  }

  @media screen and ($mediaDesktop) {
    &__name {
      font-size: 20px;
      line-height: 34px;
    }

    &__role {
      font-size: 11px;
      line-height: 34px;
    }

    &__content {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
