@import 'src/css/app.variables.scss';
.about-us {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand';
    font-style: normal;
    color: #464646;
    padding: 50px 0;
  }

  &__title {
    margin: 0;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.003em;
    color: var(--c-font);
    text-align: center;
    padding-bottom: 35px;
  }

  &__subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: var(--c-blue);
    text-align: center;
    padding-bottom: 10px;
  }

  &__article {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    padding-bottom: 10px;
    color: var(--c-content);
  }

  &__buttons {
    width: 100%;
    padding: 25px 15px 60px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and ($mediaDesktop) {

    &__wrapper {
      padding: 100px 0;
    }

    &__title {
      font-size: 55px;
      line-height: 75px;
      padding-bottom: 20px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 24px;
      padding-bottom: 20px;
    }

    &__content {
      display: flex;
      flex-direction: row-reverse;
      gap: 65px;
    }

    &__article {
      font-size: 20px;
      line-height: 32px;
      padding-bottom: 24px;
    }

    &__buttons {
      padding: 0;
      justify-content: flex-start;
      gap: 24px;
    }
  }
}

.about-us-image {
  position: relative;

  & img {
    position: relative;
    z-index: 20;
    width: auto;
  }

  &__dots {
    position: absolute;
    z-index: 10;
    top: -16px;
    left: 2px;

    &--red {
      opacity: 0;
    }
  }

  @media screen and ($mediaDesktop) {
    & img {
      width: 565px;
    }

    &__dots {
      &--red {
        opacity: 1;
        left: -30px;
      }

      &--pink {
        right: -30px;
        left: auto;
        top: auto;
        bottom: -3px;
      }
    }
  }
}
