@import 'src/css/app.variables.scss';
.about-us {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand';
    font-style: normal;
    color: #464646;
    padding: 5rem 0;
  }

  &__title {
    margin: 0;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    letter-spacing: 0.003em;
    color: var(--c-font);
    text-align: center;
    padding-bottom: 3.5rem;
  }

  &__subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.01em;
    color: var(--c-blue);
    text-align: center;
    padding-bottom: 1rem;
  }

  &__article {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    padding-bottom: 1rem;
    color: var(--c-content);
  }

  &__buttons {
    width: 100%;
    padding: 2.5rem 1.5rem 6rem;
    display: flex;
    justify-content: space-between;
  }

  @media screen and ($mediaTablet) {

    &__wrapper {
      padding: 10rem 0;
    }

    &__title {
      font-size: 5.5rem;
      line-height: 7.5rem;
      padding-bottom: 2rem;
    }

    &__subtitle {
      font-size: 2.4rem;
      line-height: 2.4rem;
      padding-bottom: 2rem;
    }

    &__article {
      font-size: 2rem;
      line-height: 3.2rem;
      padding-bottom: 2.4rem;
    }

    &__buttons {
      justify-content: flex-start;
      gap: 2.4rem;
    }
  }

  @media screen and ($mediaSmallDesktop) {
    &__content {
      display: flex;
      flex-direction: row-reverse;
      gap: 6.5rem;
    }

    &__buttons {
      padding: 0;
    }
  }
}

.about-us-image {
  position: relative;
  width: fit-content;
  margin: 0 auto;

  & img {
    position: relative;
    z-index: 20;
    width: 34rem;
  }

  &__dots {
    position: absolute;
    z-index: 10;
    top: -6%;
    left: 2%;

    &--red {
      opacity: 0;
    }
  }

  @media screen and ($mediaTablet) {
    & img {
      width: 56.5rem;
    }

    &__dots {
      &--red {
        opacity: 1;
        left: -3rem;
      }

      &--pink {
        right: -3rem;
        left: auto;
        top: auto;
        bottom: -0.3rem;
      }
    }
  }
}
