@import 'src/css/app.variables.scss';
@import 'src/css/mixins.scss';

.services-button {
  box-sizing: border-box;
  border: 0.1rem solid var(--c-border-color);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.7rem;
  width: 26.2rem;
  height: 26.9rem;
  cursor: pointer;
  padding: 3.5rem;

  &:hover {
    box-shadow: 0.4rem 0.4rem 3rem var(--c-border-color);
  }

  &__round {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cWhite;
    font-size: 4rem;
  }

  &__text {
    font-family: $Quicksand;
    font-style: normal;
    font-weight: 700;
    @include calc-value-min("font-size", 1.6, 2.4, 390, 1280);
    @include calc-value-min("line-height", 2.4, 3.4, 390, 1280);
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--c-font);
  }
}
