@import 'src/css/app.variables.scss';
.portfolio {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand';
    font-style: normal;
    color: #464646;
    padding: 50px 0;
    position: relative;
  }

  &__title {
    margin: 0;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.003em;
    color: var(--c-font);
    text-align: center;
    padding-bottom: 35px;
  }

  &__subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: var(--c-blue);
    text-align: center;
    padding-bottom: 10px;
  }

  &__article {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    padding-bottom: 10px;
    text-align: center;
    color: var(--c-content);
  }

  &__works {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
    padding: 34px 0 50px;
  }

  &__work {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.003em;
    color: $cWhite;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 24px;
    border-radius: 30px;
    background-color: #464646;
  }

  &__work:nth-child(2n+1) {
    width: 300px;
    height: 300px;
    background-image: url('src/assets/img/MainPage/work_byte.png');
    background-size: cover;
  }

  &__work:first-child {
    background-image: url('src/assets/img/MainPage/work_furniture.png');
  }

  &__work:nth-child(2n) {
    width: 340px;
    height: 338px;
    background-image: url('src/assets/img/MainPage/work_cloud.png');
    background-size: cover;
  }

  &__dots {
    opacity: 0;
  }

  @media screen and ($mediaDesktop) {
    &__wrapper {
      padding: 100px 0;
    }

    &__title {
      font-size: 55px;
      line-height: 75px;
      padding-bottom: 28px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 24px;
      padding-bottom: 20px;
    }

    &__article {
      font-size: 20px;
      line-height: 34px;
      padding-bottom: 48px;
      max-width: 680px;
    }

    &__works {
      flex-direction: row;
      gap: 69px;
      z-index: 100;
    }

    &__work:nth-child(2n+1) {
      width: 350px;
      height: 350px;
    }

    &__work:nth-child(2n) {
      width: 400px;
      height: 400px;
    }

    &__dots {
      opacity: 1;
      position: absolute;
      z-index: 10;

      &--first {
        transform: translate(580px, 200px) rotate(-20deg);
      }

      &--second {
        transform: translate(-186px, 390px) rotate(20deg);
      }
    }
  }
}
