@import '/src/css/app.variables.scss';
@import 'src/css/mixins.scss';

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .5s ease 0s;
  z-index: 10000;

  &__active {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 10001;
    position: relative;
  }

  &__wrapper {
    background-color: $cWhite;
    color: black;
    padding: 1.6rem;
    @include calc-value-min("padding-left", 0.8, 8.4, 390, 1440);
    @include calc-value-min("padding-right", 0.8, 8.4, 390, 1440);
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    padding: 2.4rem 1.6rem 0.8rem;
  }

  &__button {
    fill: var(--c-font);
    background-image: url('../../assets/img/close.svg');
    width: 2.9rem;
    height: 2.5rem;
    cursor: pointer;
  }

  &__content {
    overflow-x: hidden;
    height: calc(100vh - 10rem);
    padding: 1.6rem;
    &::-webkit-scrollbar {
      width: 10px;
      background-color: var(--c-border-color);
      border-radius: 5px;
      height: 200px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--c-blue);
      border-radius: 5px;
    }
  }

  @media screen and ($mediaTablet) {
    &__body {
      padding: 30px 10px;
    }

    &__wrapper {
      padding: 3.6rem;
      border-radius: 10px;
      width: auto;
      max-width: calc(100% - 9rem);
      max-height: calc(100vh - 9rem);
    }

    &__header {
      padding-top: 0;
    }

    &__content {
      height: calc(100vh - 21.3rem);
    }

    &__button {
      cursor: pointer;
    }
  }
}

