@import '/src/css/app.variables.scss';
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .5s ease 0s;
  z-index: 10000;

  &__active {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 10001;
  }

  &__button {
    margin-top: 2rem;
  }

  &__content {
    background-color: $cWhite;
    color: black;
    padding: 1.6rem;
    position: relative;
    width: 100vh;
    height: 100vh;
    overflow-x: auto;
    padding-top: 90px;
  }

  @media screen and ($mediaTablet) {
    &__body {
      padding: 30px 10px;
    }

    &__content {
      padding: 3.6rem;
      border-radius: 10px;
      width: calc(100vw - 9rem);
      height: calc(100vh - 9rem);
    }
  }
}
// .modal {
//   position: fixed;
//   background: none;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: calc(var(--vh, 1vh) * 100);
//   z-index: 50000;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   align-content: center;
//   &__bg {
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     position: absolute;
//     z-index: 49900;
//     background: $bgBlack;
//     backdrop-filter: blur(0.2rem);
//   }
//   &__wrapper {
//     background: $cWhite;
//     width: calc(100vw - 3.2rem);
//     padding: 1.6rem;
//     border-radius: 0.8rem;
//     position: relative;
//     z-index: 50000;
//   }
// }

