@import '/src/css/app.variables.scss';
@import 'src/css/mixins.scss';

.header {
  background-color: var(--c-background);
  width: 100%;
  position: relative;
  z-index: 1000;
  padding: 0;
  @include calc-value-min("padding-left", 2.5, 10, 390, 1440);
  @include calc-value-min("padding-right", 2.5, 10, 390, 1440);
  opacity: 1;
  transition: opacity .3s;
  transition-delay: .8s;

  &__wrapper {
    padding: 4rem 0;
    justify-content: space-between;

    & > .form-btn {
      width: 100%;
    }
  }

  &__logo {
    width: 9.1rem;
    height: 3.3rem;
    border-radius: unset;
  }

  & > .q-layout__shadow {
    display: none;
  }

  &--hidden {
    opacity: 0;
    transition: opacity .3s;
    transition-delay: 0s;
    z-index: 0;
  }

  &__nav {
    display: none;
  }

  @media screen and ($mediaTablet) {
    &__wrapper {
      padding: 7rem 0;

      & > .form-btn {
        width: auto;
      }
    }

    &__logo {
      width: 13.6rem;
      height: 5rem;
    }

    &--hidden {
      opacity: 1;
    }

    &__nav {
      display: flex;
      width: 100%;
      align-items: center;
    }

    &__button {
      display: none;
    }
  }
}
