/*   General variables   */
$minContentWidth: 320px;

/*   Font variables   */
$fontpostfix: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
$Roboto: $fontpostfix;
$Rub: 'Rub', $fontpostfix;

/*   Mobile variables   */
$footer: 56px;
$header: 44px;
$layout: 100px;

/*   Color variables   */
$cWhite: #fff;
$cDarkThemWhite: #E2E2E2;
$cBlack: #1D1D1D;
$cGray: #EBEBF2;
$cRed: #FF3B30;
$cGreen: #39e8a5;
$cBlue: #377DFF;
$cLightBlue: #37DBFF;
$cFooter: #383638;

/*   Form variables   */
$fBorderColor: #377DFF;
$fBackgroundColor: #fff;
$fActiveColor: #464646;
$fBorderRadius: 24px;
$fFieldHeight: 48px;
$fFieldFontSize: 16px;
$fFieldTextColor: #9A99A2;
$fFieldErrorColor: #FF3737;
$fFieldHoverColor: #37DBFF;

/*   Text variables   */
$tGray: #9A99A2;
$tBlack: #1D1D1D;
$tContent: #464646;

/*   Background variables   */
$bgBlack: rgba(29, 29, 29, 0.84);
$bgWhite: rgba(255, 255, 255, 0.5);
$bgError: rgba(255, 58, 68, 0.1);
$bgModal: rgba(0, 0, 0, 0.6);

/*  BREAKPOINTS */
$mobileBreakpoint: 360;
$tabletBreakpoint: 768;
$desktopBreakpoint: 1440;
$wideDesktopBreakpoint: 1920;

$mediaTablet: 'min-width: #{ $tabletBreakpoint }px';
$mediaDesktop: 'min-width: #{ $desktopBreakpoint }px';
$mediaWideDesktop: 'min-width: #{ $wideDesktopBreakpoint }px';

:root {
  --c-blue: #377DFF;
  --c-shadow: rgba(55, 125, 255, 0.5);
  --c-font:  #1D1D1D;
  --c-content: #464646;
  --c-background: #fff;
  --c-logo: #fff;
  --c-border-color: rgba(0, 0, 0, 0.1);
  --c-card-background: #fff;
}

[data-theme="dark"] {
  --c-blue: #E2E2E2;
  --c-shadow: rgba(226, 226, 226, 0.5);
  --c-font: #E2E2E2;
  --c-content: #E2E2E2;
  --c-background: #0D0D0D;
  --c-logo: #E2E2E2;
  --c-border-color: rgba(255, 255, 255, 0.1);
  --c-card-background: #0B0F15;
}
