@import 'app.variables.scss';
@import 'mixins.scss';

html body {
  font-family: $Roboto;
  font-size: 1.4rem;
  color: var(--c-font);
  overflow-x: hidden;
  overflow-y: auto;
  min-width: $minContentWidth;
  background-color: var(--c-background);
  &::-webkit-scrollbar {
    width: 10px;
    background-color: var(--c-border-color);
    border-radius: 5px;
    height: 200px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--c-blue);
    border-radius: 5px;
  }

  &.__hidden {
    overflow: hidden;
  }
}
.q-page-container {
  width: 100vw;
}
.main-container {
  min-width: $minContentWidth;
}
html {
  font-size: calc(1rem / 1.6);
}

a {
  text-decoration: none;
}

/*   Reset input styles  */

.q-field--filled .q-field__control {
  border-radius: $fBorderRadius;
  background: var(--c-background);
}
.q-field__control {
  height: $fFieldHeight;
}

.q-field--filled .q-field__control:before,
.q-field--filled.q-field--highlighted .q-field__control:before {
  border-bottom: none;
  background: none;
}

.q-field__native {
  font-size: $fFieldFontSize;
  color: $fFieldTextColor;

  &::placeholder {
    font-size: $fFieldFontSize;
    font-weight: normal;
  }
}
input,
input:focus-visible {
  outline: none;
  box-shadow: none;
  font-size: $fFieldFontSize;
  color: $fFieldTextColor;

  &::placeholder {
    font-size: $fFieldFontSize;
    font-weight: normal;
  }
}

/*   Reset button styles  */

.disabled {
  pointer-events: none;
  opacity: 0.8;
}
.q-btn::before,
.q-btn--actionable.q-btn--standard:active:before,
.q-btn--actionable.q-btn--standard.q-btn--active:before {
  box-shadow: none;
}
.q-field--filled .q-field__control:after {
  height: 0;
}
.q-btn .q-ripple {
  display: none !important;
}
.q-btn,
.q-btn__content {
  text-transform: initial;
  white-space: nowrap;
}

/*   Reset tab styles  */
.q-tab .q-ripple {
  display: none;
}
.q-tab-panel {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and ($mediaTablet) {
  .q-page-container {
    max-width: 164rem;
    margin: 0 auto;
  }
}
