@import 'src/css/app.variables.scss';
.services {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand';
    font-style: normal;
    color: #464646;
    padding: 5rem 0 2.6rem;
  }

  &__title {
    margin: 0;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    letter-spacing: 0.003em;
    color: var(--c-font);
    text-align: center;
    padding-bottom: 3.5rem;
  }

  &__subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.01em;
    color: var(--c-blue);
    text-align: center;
    padding-bottom: 1rem;
  }

  &__article {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--c-content);
  }

  &__more {
    cursor: pointer;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.01em;
    color: var(--c-blue);
    padding: 0.4rem 0 2.3rem 0;
    margin: 0;
    align-self: flex-start;

    &:hover {
      color: $cLightBlue;
    }

    & .q-icon {
      font-size: 2rem;
      padding-left: 0.4rem;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  @media screen and ($mediaTablet) {
    &__wrapper {
      flex-direction: row;
      align-items: flex-start;
      gap: 15.5rem;
      padding: 5.9rem 0 3rem;
    }

    &__content {
      padding-top: 6.5rem;
    }

    &__title {
      font-size: 5.5rem;
      line-height: 130%;
      padding-bottom: 3.2rem;
      text-align: start;
    }

    &__subtitle {
      font-size: 2.4rem;
      line-height: 2.4rem;
      padding-bottom: 1.8rem;
      text-align: start;
    }

    &__article {
      font-size: 2rem;
      line-height: 3.2rem;
      padding-bottom: 3.6rem;
      text-align: start;
    }

    &__more {
      text-align: end;
    }

    &__buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
    }
  }
}
