@import 'src/css/app.variables.scss';
.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 2.2rem;

  &__error-message {
    font-family: $Quicksand;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 0.01em;
    color: $fFieldErrorColor;
    position: absolute;
    bottom: 0.5rem;
    left: 2.4rem;
  }

  &--fullSize {
    width: 100%;
  }
}

.form-input {
  font-family: $Quicksand;
  font-style: normal;
  font-weight: 700;
  font-size: $fFieldFontSize;
  line-height: 2.4rem;
  color: $fActiveColor;
  height: $fFieldHeight;
  border: 0.1rem solid $fBorderColor;
  border-radius: $fBorderRadius;
  padding: 1.2rem 2.4rem;

  &:hover {
    border: 0.1rem solid $fFieldHoverColor;
  }

  &:focus-visible {
    border: 0.1rem solid $fActiveColor;
    color: $fActiveColor;
  }

  &--errored {
    border: 0.1rem solid $fFieldErrorColor;
  }

  &--noneResize {
    resize: none;
  }
}

.form-placeholder {
  font-family: $Quicksand;
  font-style: normal;
  font-weight: 700;
  font-size: $fFieldFontSize;;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
  color: $fBorderColor;
  position: absolute;
  top: 1.2rem;
  left: 2.4rem;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 0.4rem;
  transition: font-size .5s, top .5s, background-color .5s;
  border-radius: 1.6rem;
  cursor: text;

  &--error {
    color: $fFieldErrorColor;
  }

  &--fill {
    font-size: 1.2rem;
    line-height: 1.8rem;
    top: -0.9rem;
    background-color: rgba(255, 255, 255, 1);
  }

  &--focus {
    color: $fActiveColor;
    font-size: 1.2rem;
    line-height: 1.8rem;
    top: -0.9rem;
    background-color: rgba(255, 255, 255, 1);
  }

  &--hover {
    color: $cLightBlue;
  }
}
