@import '/src/css/app.variables.scss';
@import 'src/css/mixins.scss';

.send-us {
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  background-color: red;
  position: fixed;
  top: -100vh;
  transition: top 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  right: 0;
  z-index: 101;
  overflow: hidden;
  background-color: $cWhite;
  font-family: 'Nunito';
  font-style: normal;
  letter-spacing: 0.01em;

  &--open {
    top: 0;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 100vw;
    padding: 5rem 2.5rem 1.8rem;
    @include calc-value-min("padding-left", 2.5, 10, 390, 1440);
    @include calc-value-min("padding-right", 2.5, 10, 390, 1440);
    // max-width: 50rem;
  }

  &__wrapper {
    padding: 0 2.5rem 8.5rem;
    // overflow-y: scroll;
    // -ms-overflow-style: none;  /* IE и Edge */
    // scrollbar-width: none;  /* Firefox */
  }

  &__wrapper::-webkit-scrollbar {
    display: none;
  }

  &__close-button {
    display: none;
  }

  &__content {
    text-align: center;
    padding-bottom: 4rem;
  }

  &__title {
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.8rem;
    color: var(--c-font);
    margin: 0;
    padding-bottom: 0.8rem;
    text-align: center;
  }

  &__article {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $fActiveColor;
  }

  &__fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__textarea {
    & textarea {
      height: 18rem;
    }
  }

  &__file {
    margin: 0.8rem 0 4rem;
    width: 100%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    color: $fBorderColor;
    display: flex;
    align-items: center;
    cursor: pointer;

    & > span {
      padding-left: 0.6rem;
    }

    &:hover {
      color: $cLightBlue;
    }
  }

  &__button {
    width: 100%;
  }

  @media screen and ($mediaTablet) {
    top: 0;
    display: none;
    opacity: 0;
    transition: opacity 1s;
    background-color: $bgModal;
    z-index: 1001;

    &__header {
      display: none;
    }

    &--open {
      opacity: 1;
      display: flex;
    }

    &__wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--c-background);
      width: 64rem;
      padding: 4rem;
      padding-top: 6.5rem;
      border-radius: 3rem;
      max-height: 90vh;
      // overflow-y: unset;
    }

    &__title {
      font-size: 5.5rem;
      line-height: 7.5rem;
    }

    &__article {
      font-size: 2rem;
      line-height: 3.2rem;
    }

    &__textarea {
      & textarea {
        height: 12rem;
      }
    }

    &__button-block {
      display: flex;
      justify-content: center;
    }

    &__button {
      width: auto;
    }

    &__close-button {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 4rem;
      right: 4rem;
    }

    &__content-wrapper {
      width: 64rem;
    }
  }
}
