@import '/src/css/app.variables.scss';

.send-us {
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  background-color: red;
  position: fixed;
  top: -100vh;
  transition: top 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  right: 0;
  z-index: 101;
  overflow: hidden;
  background-color: $cWhite;
  font-family: 'Nunito';
  font-style: normal;
  letter-spacing: 0.01em;

  &--open {
    top: 0;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    padding: 50px 25px 18px;
    max-width: 500px;
  }

  &__wrapper {
    padding: 0px 25px 85px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
  }

  &__wrapper::-webkit-scrollbar {
    display: none;
  }

  &__close-button {
    display: none;
  }

  &__content {
    text-align: center;
    padding-bottom: 40px;
  }

  &__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: var(--c-font);
    margin: 0;
    padding-bottom: 8px;
    text-align: center;
  }

  &__article {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $fActiveColor;
  }

  &__fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__textarea {
    & textarea {
      height: 180px;
    }
  }

  &__file {
    margin: 8px 0 40px;
    width: 100%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $fBorderColor;
    display: flex;
    align-items: center;
    cursor: pointer;

    & > span {
      padding-left: 6px;
    }

    &:hover {
      color: $cLightBlue;
    }
  }

  &__button {
    width: 100%;
  }

  @media screen and ($mediaDesktop) {
    top: 0;
    display: none;
    opacity: 0;
    transition: opacity 1s;
    background-color: $bgModal;
    z-index: 1001;

    &__header {
      display: none;
    }

    &--open {
      opacity: 1;
      display: flex;
    }

    &__wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--c-background);
      width: 640px;
      padding: 40px;
      border-radius: 30px;
    }

    &__title {
      font-size: 55px;
      line-height: 75px;
    }

    &__article {
      font-size: 20px;
      line-height: 32px;
    }

    &__textarea {
      & textarea {
        height: 120px;
      }
    }

    &__button-block {
      display: flex;
      justify-content: center;
    }

    &__button {
      width: auto;
    }

    &__close-button {
      display: flex;
      justify-content: flex-end;
    }
  }
}
