@import '/src/css/app.variables.scss';

.burger-button {
  background: transparent;
  border: none;
  padding: 0;
  height: 2.5rem;

  &__hamburger {
    fill: var(--c-font);
    width: 2.5rem;
  }
}

.burger-button .top {
  x: 0.09rem;
  y: 0.16rem;
  rx: 0.05rem;
  width: 0.8rem;
  height: 0.1rem;
}

.burger-button .middle {
  x: 0.21rem;
  y: 0.44rem;
  rx: 0.05rem;
  width: 0.6rem;
  height: 0.1rem;
}

.burger-button .bottom {
  x: 0.09rem;
  y: 0.72rem;
  rx: 0.05rem;
  width: 0.8rem;
  height: 0.1rem;
}

.burger-button .line {
  transition: y 150ms ease-in 150ms, rotate 150ms ease-in, opacity 0ms 150ms;
  transform-origin: center;
}

.burger-button[aria-expanded="true"] .line {
  transition: y 150ms ease-in, rotate 150ms ease-in 150ms, opacity 0ms 150ms;
}

.burger-button[aria-expanded="true"] :is(.top, .bottom) {
  y: 0.45rem;
  x: 0.09rem;
}

.burger-button[aria-expanded="true"] .top {
  rotate: 45deg;
}

.burger-button[aria-expanded="true"] .middle {
  opacity: 0;
}

.burger-button[aria-expanded="true"] .bottom {
  rotate: -45deg;
}
