@import '/src/css/app.variables.scss';

.burger-button {
  background: transparent;
  border: none;
  padding: 0;
  height: 2.5rem;

  &__hamburger {
    fill: var(--c-font);
  }
}

.burger-button .line {
  transition: y 150ms ease-in 150ms, rotate 150ms ease-in, opacity 0ms 150ms;
  transform-origin: center;
}

.burger-button[aria-expanded="true"] .line {
  transition: y 150ms ease-in, rotate 150ms ease-in 150ms, opacity 0ms 150ms;
}

.burger-button[aria-expanded="true"] :is(.top, .bottom) {
  y: 4.5;
  x: 0.9;
}

.burger-button[aria-expanded="true"] .top {
  rotate: 45deg;
}

.burger-button[aria-expanded="true"] .middle {
  opacity: 0;
}

.burger-button[aria-expanded="true"] .bottom {
  rotate: -45deg;
}
