@import '/src/css/app.variables.scss';
@import 'src/css/mixns.scss';

.nav-block {
  &__links {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    width: 100%;
    color: var(--c-font);
  }

  &__button {
    width: 100%;
    max-width: 50rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: flex-start;
  }

  &__nav-item {
    cursor: pointer;

    &:hover {
      color: $cLightBlue;
    }

    &--select {
      font-weight: 700;
    }
  }

  &__languages {
    display: flex;
    gap: 1.6rem;
    text-transform: uppercase;
    padding-top: 5rem;
  }

  &__language {
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      color: $cLightBlue;
    }

    &--select {
      font-weight: 700;
    }
  }

  @media screen and ($mediaTablet) {
    &__links {
      display: flex;
      justify-content: space-between;
      padding: 0;
      @include calc-value-min("padding-left", 2, 8, 768, 1440);
      @include calc-value-min("padding-right", 2, 8, 768, 1440);
    }

    &__button {
      width: auto;
    }

    &__nav {
      flex-direction: row;
      @include calc-value-min("gap", 0.5, 5, 768, 1440);
    }

    &__languages {
      padding: 0;
      gap: 0.8rem;
    }
  }
}
