@import 'src/css/app.variables.scss';
@import 'src/css/mixins.scss';

.form-btn {
  font-family: $Quicksand;
  font-style: normal;
  font-weight: 700;
  @include calc-value-min('font-size', 1.2, 1.6, 390, 1280);
  line-height: 150%;
  letter-spacing: 0.01em;
  border: 0.1rem solid var(--c-blue);
  color: var(--c-background);
  background: var(--c-blue);
  @include calc-value-min('padding-top', 0.9, 1.1, 390, 1280);
  @include calc-value-min('padding-bottom', 0.9, 1.1, 390, 1280);
  @include calc-value-min('padding-left', 3.5, 5, 390, 1280);
  @include calc-value-min('padding-right', 3.5, 5, 390, 1280);
  border-radius: 2.4rem;
  box-shadow: 0 0.4rem 0.8rem var(--c-shadow);
  box-sizing: border-box;
  transition: border $baseTransition, background $baseTransition, color $baseTransition;

  &--reverse {
    & > .q-btn__content {
      flex-direction: row-reverse;
    }
  }
  & > .q-btn__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  @media (hover: hover) {
    &:hover {
      border: 0.1rem solid $cLightBlue;
      background: $cLightBlue;
    }
  }

  &--outline {
    background: none;
    color: var(--c-blue);
    box-shadow: none;

    @media (hover: hover) {
      &:hover {
        border: 0.1rem solid $cLightBlue;
        background: rgba(255, 255, 255, 0);
        color: $cLightBlue;

        & > .q-focus-helper {
          background: none !important;
        }
      }
    }
  }

  &--fullSize {
    width: 100%;
  }
}
